.App{
  display: flex;
  flex-direction: row;
  width: auto;

  padding: 20px;
  margin: 10px;

}
.Search {
  padding: 10px;
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
}

.left{
width: 20%;

  padding: 20px;
  margin: 10px;
}
.center{
  width: 60%;
  
 
  padding: 20px;
  margin: 10px;
}
.right{
  width: 20%;
  

  padding: 20px;
  margin: 10px;
}
